Repository ppc64le-cloud/docker-ce-build: changes, and which Prow jobs are due for each by the changed paths.
All: postsubmit-build-docker, postsubmit-test-docker-staging, postsubmit-test-docker-release

Path conditions:
  postsubmit-build-docker: any of: env/env.list
  postsubmit-test-docker-staging: any of: env/test-staging.list
  postsubmit-test-docker-release: any of: env/test-release.list

Docker v28.3.1 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.3.2
  env/env.list
Due: postsubmit-build-docker

Job commit: job/postsubmit-build-docker
  job/postsubmit-build-docker
Due: none

Docker v28.3.2 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.3.3
  env/env.list
Due: postsubmit-build-docker

Docker v28.3.3 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Docker v28.3.3 release tests
  env/test-release.list
Due: postsubmit-test-docker-release

Update scripts to use 1.2-ppc64le DinD image
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

Build Docker v28.4.0
  env/env.list
Due: postsubmit-build-docker

Docker v28.4.0 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Docker v28.4.0 release tests
  env/test-release.list
Due: postsubmit-test-docker-release

Remove skip-setup-pj-trigger.sh
  setup-pj-trigger.sh
  upstream-master-ci/prow-info-docker.sh
Due: none

Replace model-cli repository with model-runner
  build-docker.sh
Due: none

Install nftables for Debian tests
  test-DEBS/Dockerfile
  test-repo-DEBS/Dockerfile
Due: none

Programmatically replace instances of model-cli repository with model-runner
  get-env.sh
Due: none

Switch to new Docker Engine tagging
  get-env.sh
Due: none

1.3-ppc64le DinD image
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
Due: postsubmit-build-docker

Switch containerd key
  test-containerd/instantiate_vm_and_test.sh
Due: none

Remove year from the LICENSE
  LICENSE
Due: none

fixed vm cleanup issue for containerd periodic jobs
  test-containerd/instantiate_vm_and_test.sh
Due: none

Fixed VM cleanup issue for containerd periodic jobs
  test-containerd/instantiate_vm_and_test.sh
Due: none

Docker v29.1.4
  job/postsubmit-build-docker
Due: none

Build Docker v29.1.4
  env/env.list
Due: postsubmit-build-docker

Docker v29.1.4 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Remove model runner version substitutions
  get-env.sh
Due: none

Docker v29.3.1 and containerd v2.2.3 release tests
  env/test-release.list
Due: postsubmit-test-docker-release

1.4-ppc64le
  build-containerd.sh
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
Due: postsubmit-build-docker

Update image version from ubuntu_2204 to ubuntu_2404
  test-containerd/instantiate_vm_and_test.sh
Due: none

1.4-ppc64le DinD image scripts
  build-containerd.sh
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
Due: postsubmit-build-docker

Docker CE v29.4.0
  env/env.list
  env/test-staging.list
Due: postsubmit-build-docker, postsubmit-test-docker-staging

Docker CE v29.4.0 release tests
  env/test-release.list
Due: postsubmit-test-docker-release

Remove the function that replaces model-cli repo with model-runner
  get-env.sh
Due: none

Docker CE v29.4.1
  env/env.list
  env/test-staging.list
Due: postsubmit-build-docker, postsubmit-test-docker-staging

Docker CE 29.4.1 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging
